################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/WebApiSchool/bin
/WebApiSchool/obj/Debug
/WebApplication/bin
/WebApplication/obj/Debug
/.vs/WebApiSchool/v15
